*.zip
!modrinth/26.2/resourcepacks/SodiumTranslations.zip
!modrinth/26.1.2/resourcepacks/SodiumTranslations.zip
*.mrpack

*.log
packwiz.log

.minecraft/
curseforge/
instances/

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

*.tmp